#root {
 
}

.imagenLogo {
  width: 300px;
  height: 200px;
}
.cabecalho {
  display: flex;
  gap: 150px;
  margin-left: 100px;
  align-items: center;

}
.jogada {
  display: flex;
  gap: 100px;
  padding: 100px;
}
h1 {
  color:red;  
  font-size: 50px;
  text-align: center;

}
button{
  background-color: blue;
  color: white;
  border-radius: 5px;
  margin-left: 150px;
  width: 150px;
  height: 60px;
  display: block;

}
.botao {
  display: flex;
  gap: 100px;
  align-items: center;
  
}

h2 {
  color:red;
  font-size: 45px;
}
.regra{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
}
h4 {
  color: red;
  font-size: 30px;
}
p {
  color: blue;
  font-size: 20px;}